<h2>sign up</h2>

<form action="/login" method="POST">
  <input name="username" placeholder="username">
  <input name="password" placeholder="password">

  <button type="submit">Login</button>
</form>