<h2>sign up</h2>

<form action="/signup" method="POST">
  <input name="username" placeholder="username">
  <input name="password" placeholder="password">

  <button type="submit">Sign Up</button>
</form>